/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* CSS Variables */
:root {
    --primary-color: #C3073F;
    --accent-color: #6F6F6F;
    --white: #FFFFFF;
    --off-white: #E2E8F0;
    --grey: #6F6F6F;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

h2, h3 {
    font-size: 1rem;
}

/* Main Wrapper */
.dashboard-wrapper {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* Sidebar */
aside {
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--white);
}

aside .logo {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

aside .logo img {
    width: 35px;
    height: 35px;
}

aside .logo h1 {
    font-size: 17px;
}

.main-nav-wrapper {
    padding: 20px 0 0 20px;
}

.main-nav-wrapper img {
    width: 15px;
    height: 15px;
}

.main-nav {
    padding: 15px 0 40px 0;
}

.main-nav ul,
.sub-nav ul {
    margin-left: -15px;
}

.main-nav ul li,
.sub-nav ul li {
    margin-bottom: 15px;
    font-size: 13px;
    display: flex;
    gap: 15px;
    font-weight: 500;
    cursor: pointer;
}

/* Header - Navigation */
.header-nav {
    background-color: var(--white);
}

.inner-header-nav {
    padding: 15px 40px;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

form {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

form img {
    width: 20px;
    height: 20px;
}

form input {
    border-radius: 20px;
    width: 70%;
    padding: 5px;
    background-color: var(--off-white);
    border: none;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile .bell {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.profile .profile-image {
    border-radius: 50px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.profile span {
    font-weight: 700;
    cursor: pointer;
}

.action-nav {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-info img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.profile-info .inner-profile-info p,
.profile-info .inner-profile-info span {
    font-weight: 700;
    cursor: pointer;
}

.profile-info .inner-profile-info p {
    font-size: 0.7rem;
    margin-bottom: 3px;
}

.action-nav ul li {
    display: inline;
    padding: 8px 25px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
}

/* Projects */
.dashboard-body {
    background-color: var(--off-white);
    padding: 15px;
    display: grid;
    gap: 15px;
    grid-template-columns: 2.5fr 1fr;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 5px;
}

.project-item {
    background-color: var(--white);
    border-radius: 10px;
    border-left: 5px solid var(--accent-color);
    padding: 10px;

    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
}

.project-item p {
    color: var(--grey);
    margin-top: 5px;
    font-size: 0.9rem;
}

.project-icons {
    margin-top: 5px;
    gap: 15px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-row: 3;
}

.project-icons img {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    align-self: end;
}

/* Announcements */
.announcements-wrapper {
    background-color: var(--white);
    border-radius: 10px;
    padding: 15px;
    margin-top: 5px;
}

.announcements-wrapper p {
    color: var(--grey);
    font-size: 0.7rem
}

.announcements-wrapper hr {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--grey);
}

/* Trends */
.trends {
    margin-top: 10px;
}

.trends-wrapper {
    background-color: var(--white);
    border-radius: 10px;
    margin-top: 5px;
}

.trend-item {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
}

.trend-item img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.trend-item p:last-child {
    color: var(--grey);
}
